{% extends 'beas.html' %}

{% block contener2 %}
<div class="container bg-white"
    style="padding-top: 25px; border: 3px rgb(217, 211, 241) solid; border-radius: 5px;  box-shadow: 0 5px 25px rgba(1 1 1 /15%);">
    <br>
    <small><a href="{{short_url2.long_url}}">{{short_url2.long_url}}</a></small><br>
    <div class="container">
        <div class="copy-text"
            style="position: relative;  background: #fff; border: 1px solid #ddd; border-radius: 10px; display: flex; ">
            <button class="copy-button"
                style="width: 20%; height: 100%; padding: 10px 0px; background:#5784f5; color: #fff; border: none; outline: none; border-radius: 10px 0 0px 10px; cursor: pointer; ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files"
                    viewBox="0 0 16 16">
                    <path
                        d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
                </svg>
            </button>
            <input type="text" class="text" value="http://127.0.0.1:8000/{{short_url2.short_url}}"
                style=" width: 80%;  margin-left: 15px; font-size: 18px; color: #555;  outline: none; border: none;">
        </div>
    </div>
    <button class="xx">share</button>

    <hr>
    <br>
    <h6>Qr-code</h6>
    <p>Press and hold to scan or save the code to your photos</p>

    <div class="qr-img" style="display: flex; justify-content: center;">
        <div class="card" style="width: 18rem;">
            <img src="{{short_url2.qr_code.url}}" class="card-img-top">
            <div class="card-body">
                <a href="{{short_url2.qr_code.url}}" class="btn btn-primary" download=""><svg
                        xmlns="http://www.w3.org/2000/svg" style="width: 24px; padding-right:5px;" width="16"
                        height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path
                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                        <path
                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                    </svg> Download PNG</a>
            </div>
        </div>
        <div class="img-contener" style="">
            <div class="download" style=" background-color: #f55757; margin-right: 25%; margin-left: 25%;">
            </div>
        </div>
    </div>
    <hr>
    <!-- Button trigger modal -->
    <a href="{% url 'register' %}" style="color: rgb(68, 68, 68);" data-toggle="modal" data-target="#exampleModal"><svg
            xmlns="http://www.w3.org/2000/svg" style="padding-right:5px;" width="16" height="16" fill="currentColor"
            class="bi bi-pen-fill" viewBox="0 0 16 16">
            <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
        </svg>Edit</a>
    -
    <a href="{% url 'register' %}" style="color: rgb(68, 68, 68);" data-toggle="modal" data-target="#exampleModal"><svg
            xmlns="http://www.w3.org/2000/svg" style="padding-right: 5px;" width="16" height="16" fill="currentColor"
            class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
        </svg>Delete</a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Not allowed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are not allowed to edit this link <br> because you are not logged in yet</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"><a href="{% url 'login' %}"
                            style="color: white;">LOGIN</a></button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
</div>
<br>
<br>
<br>

{% endblock %}