{% extends 'beas.html' %}
{% block title %}2ShLi | Profile{% endblock %}
{% block contener %}
<br>
<h1>Edit Profile...</h1>
<div  class="container bg-white" style="padding-top: 25px; border: 1px rgb(217, 211, 241) solid; border-radius: 5px;  box-shadow: 0 5px 25px rgba(1 1 1 /20%);">

    <form class="form-groub" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <hr>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Update Profile</button>
        <br><br>
    </form>
</div>

{% endblock %}